.navbar {
  margin-bottom:0;
}

.navbar {
    min-height: 3.0em;
    font-size: 1.9em;
    padding: 0;
    color: white !important;
}

.navbar li {
  margin-left: 1em;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
