<navigation-directive></navigation-directive>
<div class="container">
  <div ng-if="vm.message" class="alert alert-success" role="alert">
    <p>{{ vm.message }}</p>
  </div>
  <div ng-if="vm.error" class="alert alert-danger" role="alert">
    {{ vm.error }}
  </div>
  <div class="container" style='padding-top:2em;'>
    <div class='col-sm-14  form-title '>
      <div>
        <h3 class="text-center">Ajouter un utilisateur</h3>
      </div>
    </div>
    <user-form type='POST' disabled='false' user="{userAvatar: 'images/avatar.png'}">
    </user-form>
  </div>
</div>
